.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size  : cover;
  background-attachment: fixed;
  background-position: top left;
  
  height : 100vh;
}

#boton {
  margin: 15px 15px;
  border: none;
  padding: 15px 20px;
  border-radius: 6.25rem;
  background-color: #224852;
  border-color: none;
  transition: all 0.5s;
  }

  #boton1 {
    margin: 15px 15px;
    border: none;
    padding: 15px 20px;
    border-radius: 6.25rem;
    background-color: #be0505;
    border-color: none;
    transition: all 0.5s;
    }

    #boton2 {
      margin: 15px 15px;
      border: none;
      padding: 15px 20px;
      border-radius: 6.25rem;
      background-color: #bda0e2;
      border-color: none;
      transition: all 0.5s;
      }  

  #boton3 {
      margin: 15px 15px;
      border: none;
      padding: 15px 20px;
      border-radius: 6.25rem;
      background-color: #5e5e5e;
      border-color: none;
      transition: all 0.5s;
    }  

  #cards__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width:1120px;
    width: 90%;
    margin: 0 auto;
  }
    
    #cards_wrapper {
    position: relative;
    margin: 50px © 45px;
    }
#menu {
  text-decoration: none;
  color: #222222;
}

#formulario {
  background-color: transparent;
  border-width: 0px 0px 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-radius: 0px;
  box-sizing: border-box;
  color: rgb(17, 17, 17);
  caret-color: currentcolor;
  display: block;
  margin: 15px 15px;
  padding: 8px 0px;
  text-align: left;
  outline: none;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  --inputCurrentColor: #111111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
